@import "../node_modules/ui-styles/variables";
:host {
	display: inline-block;
	box-sizing:border-box;
	overflow: hidden;
	.cannot-select-text;
  cursor: pointer;
	#closer {
		padding-left: 0.125em;
		&:before {
			content: '\2715';
		}
	}
	.pill {
		overflow: hidden;
		position: relative;
	  box-sizing: border-box;
		padding-top: 0.125em;
		padding-right: 0.25em;
		padding-bottom: 0.125em;
		padding-left: 0.25em;
		margin-right: 0.33em;
		border-radius: 2px;
		vertical-align: middle;
		.flat;
		.border;
		.transition(@transition);
    &.pressed {
      .transform(scale(0.95, 0.95));
    }
	}
}
